{{- $homebrewPrefix := "" -}}
{{- if eq .chezmoi.os "darwin" -}}
  {{- if eq .chezmoi.arch "arm64" -}}
    {{- $homebrewPrefix = "/opt/homebrew" -}}
  {{- else -}}
    {{- $homebrewPrefix = "/usr/local" -}}
  {{- end -}}
{{- else if eq .chezmoi.os "linux" -}}
  {{- $homebrewPrefix = "/home/linuxbrew/.linuxbrew" -}}
{{- else -}}
{{- end -}}

[data]
{{- with $homebrewPrefix }}
  homebrewPrefix = {{ . | quote }}
{{- end }}
