{{- if ne .homebrewPrefix "/usr/local" -}}
# Setup Brew
eval "$({{ .homebrewPrefix }}/bin/brew shellenv)"

{{ end -}}

# Add brew managed autocompletions
FPATH="$(brew --prefix)/share/zsh/site-functions:${FPATH}"

# Add ~/.local/bin to PATH
export PATH="{{ .chezmoi.homeDir }}/.local/bin:$PATH"

# nodenv setup
eval "$(nodenv init -)"

# Krew setup
export PATH="${KREW_ROOT:-{{ .chezmoi.homeDir }}/.krew}/bin:$PATH"
