[user]
  name = Cooper Benson
  email = "cooper.benson@quizlet.com"
  signingkey = {{ onepasswordRead "op://Employee/Quizlet Github/public key" "quizlet.1password.com" }}

[gpg]
  format = ssh

[gpg "ssh"]
  program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"

[commit]
  gpgsign = true

[includeIf "gitdir:~/personal/"]
  path = .gitconfig-personal
[includeIf "gitdir:~/.local/share/chezmoi/.git"]
  path = .gitconfig-personal
