[user]
  name = Cooper Benson
  email = "skycoop@gmail.com"
  signingkey = {{ onepasswordRead "op://Private/Personal Github/public key" "my.1password.com" }}

[gpg]
  format = ssh

[gpg "ssh"]
  program = "/opt/1Password/op-ssh-sign"

[commit]
  gpgsign = true

[filter "lfs"]
  process = git-lfs filter-process
  required = true
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
