#!/bin/bash

brew bundle --no-lock --file=/dev/stdin <<EOF
tap "homebrew/bundle"
tap "homebrew/core"

brew "chezmoi"
brew "fzf"
brew "git"
brew "git-lfs"
brew "micro"
brew "nodenv"

{{ if eq .chezmoi.os "darwin" -}}
tap "homebrew/cask"
tap "homebrew/cask-fonts"

cask "alfred"
cask "balance-lock"
cask "boop"
cask "brave-browser"
cask "caffeine"
cask "docker"
cask "ferdi"
cask "font-jetbrains-mono"
cask "font-jetbrains-mono-nerd-font"
cask "google-cloud-sdk"
cask "hiddenbar"
cask "iterm2"
cask "jetbrains-toolbox"
cask "keybase"
cask "krisp"
cask "meetingbar"
cask "rectangle"
cask "spotify"
cask "stats"
cask "visual-studio-code"
cask "zoom"
{{ end -}}
EOF