#!/bin/bash

brew bundle --no-lock --file=/dev/stdin <<EOF
tap "homebrew/bundle"

brew "chezmoi"
brew "fzf"
brew "git"
brew "git-lfs"
brew "micro"
brew "fnm"

{{ if eq .chezmoi.os "darwin" -}}
cask "alfred"
cask "balance-lock"
cask "boop"
cask "caffeine"
cask "font-jetbrains-mono"
cask "font-jetbrains-mono-nerd-font"
cask "google-cloud-sdk"
cask "hiddenbar"
cask "jetbrains-toolbox"
cask "keybase"
cask "meetingbar"
cask "rectangle"
cask "spotify"
cask "stats"
cask "1password-cli"
cask "unnaturalscrollwheels"
cask "visual-studio-code"
cask "wezterm"
{{ end -}}
EOF
