Host *
  IdentityAgent "{{ .chezmoi.homeDir }}/.1password/agent.sock"

Host gh-qz
  HostName github.com
  User git
  IdentityFile ~/.ssh/gh_cooperbenson-qz.pub
  IdentitiesOnly yes

Host gh-personal
  HostName github.com
  User git
  IdentityFile ~/.ssh/gh_skycoop.pub
  IdentitiesOnly yes
